1) Limpeza do dataset do movies100k.csv,

inicialmente ele é do tipo:

UserId | Movie | Rating | Timestamp

- Serão criados dois datsets, em um deles, os Ids serão os index e os filmes serão as colunas, as células serão preenchidas pelas avaliações do usuário para cada filme, caso o filme não tenha sido avaliado pelo usuário a célula será preenchida por Not a Number(NaN). No outro as colunas serãos usuário e as linhas serão os filmes.

- Ao final de cada dataset será criada uma coluna de médias.

In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('..\\raw_datasets\movies100k.csv', sep = '\t')
pivot_movies = movies.pivot_table(index = 'user', columns= 'movie', values= 'rating', aggfunc= 'mean')
characteristics = pd.read_csv('..\\raw_datasets\item.csv', sep = '|')
movies_names = characteristics['Movie Name'].values

for i, column in enumerate(pivot_movies.columns):
    pivot_movies.rename(columns= {column: movies_names[i]}, inplace= True)
media_rating_por_user = movies.groupby('user')['rating'].mean().reset_index()
media_rating_por_user.columns = ['user', 'user_average_rating']
pivot_movies['User Average Rating'] = media_rating_por_user['user_average_rating'].tolist()
pivot_movies.to_csv('..\cleaned_datasets\movies_pivot_1.csv', index = False)
pivot_movies

movie,Toy Story (1995),GoldenEye (1995),Four Rooms (1995),Get Shorty (1995),Copycat (1995),Shanghai Triad (Yao a yao yao dao waipo qiao) (1995),Twelve Monkeys (1995),Babe (1995),Dead Man Walking (1995),Richard III (1995),...,Mamma Roma (1962),"Sunchaser, The (1996)","War at Home, The (1996)",Sweet Nothing (1995),Mat' i syn (1997),B. Monkey (1998),Sliding Doors (1998),You So Crazy (1994),Scream of Stone (Schrei aus Stein) (1991),User Average Rating
user,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.610294
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.709677
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.796296
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.333333
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.874286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.265306
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.457944
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.045455
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.265823
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.410714

In [3]:
pivot_movies = movies.pivot_table(index= 'movie', columns= 'user', values= 'rating', aggfunc= 'mean')
media_rating_por_item = movies.groupby('movie')['rating'].mean().reset_index()
media_rating_por_item.columns = ['movie', 'item_average_rating']
pivot_movies['Movie Average Rating'] = media_rating_por_item['item_average_rating'].tolist()
pivot_movies['Movie Name'] = movies_names.tolist()
pivot_movies.to_csv('..\cleaned_datasets\movies_pivot_2.csv', index= False)
pivot_movies

user,1,2,3,4,5,6,7,8,9,10,...,936,937,938,939,940,941,942,943,Movie Average Rating,Movie Name
movie,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,NaN,NaN,4.0,4.0,NaN,NaN,NaN,4.0,...,4.0,NaN,4.0,NaN,NaN,5.0,NaN,NaN,3.878319,Toy Story (1995)
2,3.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.206107,GoldenEye (1995)
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.033333,Four Rooms (1995)
4,3.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,3.550239,Get Shorty (1995)
5,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.302326,Copycat (1995)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,Mat' i syn (1997)
1679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,B. Monkey (1998)
1680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,Sliding Doors (1998)
1681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,You So Crazy (1994)
1682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,Scream of Stone (Schrei aus Stein) (1991)

2) Limpeza do dataset de item.csv, que ja foi levemente alterado com as colunas sendo preenchidas com base no doc u.genre. A limpeza dele não envolveu a alteração da estrutura do dataset , sendo mais simples que a do dataset de movies. O processo se deu em:
- Retirar dados faltantes
- Retirar colunas que não ajudariam numa tarefa de ML
- Ajuste de uma linha que não estava na formatação correta
- Colocar apenas o mês em vez da data completa

In [4]:
movies_ratings = pd.read_csv('..\cleaned_datasets\movies_pivot_2.csv')
characteristics = pd.read_csv('..\\raw_datasets\item.csv', sep = '|')
characteristics.drop(columns=['index','Unnamed: 3', 'imdb page'], inplace= True)
characteristics.dropna(inplace= True)
characteristics['Movie Average Rating'] = movies_ratings['Movie Average Rating']
characteristics.at[1372, "Release Date"] = '04-Feb-1971' 
characteristics['Release Date'] = characteristics['Release Date'].astype(str)
characteristics['Release Date'] = pd.to_datetime(characteristics['Release Date'], format = '%d-%b-%Y')
for index, row in characteristics.iterrows():
    characteristics.at[index,'Release Date'] = row['Release Date'].year

characteristics.rename(columns={'Release Date': 'Release Year'}, inplace= True)
characteristics.to_csv('..\cleaned_datasets\movies_genres.csv', index = False)
characteristics

characteristics

,Movie Name,Release Year,unknown_genre,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Movie Average Rating
0,Toy Story (1995),1995,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,3.878319
1,GoldenEye (1995),1995,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,3.206107
2,Four Rooms (1995),1995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,3.033333
3,Get Shorty (1995),1995,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,3.550239
4,Copycat (1995),1995,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,3.302326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,Mat' i syn (1997),1998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.000000
1678,B. Monkey (1998),1998,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,3.000000
1679,Sliding Doors (1998),1998,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,2.000000
1680,You So Crazy (1994),1994,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,3.000000
1681,Scream of Stone (Schrei aus Stein) (1991),1996,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.000000